In [1]:
# loading libraries

import pandas as pd
import numpy as np

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\3271021640.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# reading dataframe

df = pd.read_csv("unclean_data.csv")

In [3]:
# initial EDA

df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [4]:
# removing extra characters from title

df['movie_title'] = df['movie_title'].str[:-2]

In [5]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [6]:
df.duplicated('movie_title')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [7]:
df = df.drop_duplicates('movie_title')

In [8]:
# changing na values in director likes

df['DIRECTOR_facebook_likes'] = pd.to_numeric(df['DIRECTOR_facebook_likes'].str.replace('"', ''))
df['DIRECTOR_facebook_likes'] = df['DIRECTOR_facebook_likes'].fillna(0)

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\2315633315.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DIRECTOR_facebook_likes'] = pd.to_numeric(df['DIRECTOR_facebook_likes'].str.replace('"', ''))
C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\2315633315.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DIRECTOR_facebook_likes'] = df['DIRECTOR_facebook_likes'].fillna(0)

In [9]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,NaN,563.0,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,NaN,22000.0,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,475.0,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3,392,156.0,23.0,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,NaN,15.0,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice,673,183.0,0.0,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns,434,169.0,0.0,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace,403,106.0,395.0,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [10]:
# Fill it with the mean
df['duration'].mean()

151.7

In [11]:
df['duration'] = df['duration'].fillna(df['duration'].mean())

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\2227207522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'] = df['duration'].fillna(df['duration'].mean())

In [12]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,151.7,563.0,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,151.7,22000.0,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,475.0,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3,392,156.0,23.0,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,151.7,15.0,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice,673,183.0,0.0,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns,434,169.0,0.0,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace,403,106.0,395.0,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [13]:
# Calculate the 'hit' column based on the condition 'gross - budget > 0'
df['hit'] = df.apply(lambda row: 'yes' if row['gross'] - row['budget'] > 0 else 'no', axis=1)

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\3973179827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hit'] = df.apply(lambda row: 'yes' if row['gross'] - row['budget'] > 0 else 'no', axis=1)

In [14]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1,hit
0,Avatar,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0,yes
1,Pirates of the Caribbean: At World's End,302,151.7,563.0,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN,yes
2,Spectre,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0,no
3,The Dark Knight Rises,813,151.7,22000.0,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN,yes
4,John Carter,462,132.0,475.0,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN,no
5,Spider-Man 3,392,156.0,23.0,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0,yes
6,Tangled,324,151.7,15.0,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN,no
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN,yes
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN,yes
10,Batman v Superman: Dawn of Justice,673,183.0,0.0,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0,yes
11,Superman Returns,434,169.0,0.0,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN,no
12,Quantum of Solace,403,106.0,395.0,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0,no
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0,yes

In [15]:
df['gross'] = df['gross'] / 1000000

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\1808765158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gross'] = df['gross'] / 1000000

In [16]:
df.rename(columns={'gross': 'gross (in millions'}, inplace=True)

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\1247816576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'gross': 'gross (in millions'}, inplace=True)

In [17]:
# Rename the 'budget' column to 'budget (in millions)'
df.rename(columns={'budget': 'budget (in millions)'}, inplace=True)

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\2172253394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'budget': 'budget (in millions)'}, inplace=True)

In [18]:
# Divide the values in the 'budget (in millions)' column by 1,000,000
df['budget (in millions)'] = df['budget (in millions)'] / 1000000

C:\Users\ShiZa23\AppData\Local\Temp\ipykernel_10384\3589850799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget (in millions)'] = df['budget (in millions)'] / 1000000

In [19]:
df = df.drop(columns=['title_year.1'])

In [20]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross (in millions,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget (in millions),title_year,ACTOR_2_facebook_likes,imdb_score,hit
0,Avatar,723,178.0,10.0,855,1000,760.505847,886204.0,4834.0,NaN,3054,237.0,2009,936.0,7.9,yes
1,Pirates of the Caribbean: At World's End,302,151.7,563.0,1000,40000,309.404152,471220.0,48350.0,NaN,1238,300.0,2007,5000.0,7.1,yes
2,Spectre,602,148.0,20.0,161,11000,200.074175,275868.0,11700.0,1.0,994,245.0,2015,393.0,6.8,no
3,The Dark Knight Rises,813,151.7,22000.0,23000,27000,448.130642,1144337.0,106759.0,NaN,2701,250.0,2012,23000.0,8.5,yes
4,John Carter,462,132.0,475.0,530,640,73.058679,212204.0,1873.0,1.0,738,263.7,2012,632.0,6.6,no
5,Spider-Man 3,392,156.0,23.0,4000,24000,336.530303,383056.0,46055.0,NaN,1902,258.0,2007,11000.0,6.2,yes
6,Tangled,324,151.7,15.0,284,799,200.807262,294810.0,NaN,1.0,387,260.0,2010,553.0,7.8,no
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458.991599,462669.0,92000.0,4.0,1117,250.0,2015,21000.0,7.5,yes
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301.956980,321795.0,58753.0,3.0,973,250.0,2009,11000.0,7.5,yes
10,Batman v Superman: Dawn of Justice,673,183.0,0.0,2000,15000,330.249062,NaN,24450.0,NaN,3018,250.0,2016,NaN,6.9,yes
11,Superman Returns,434,169.0,0.0,903,18000,200.069408,240396.0,NaN,2.0,2367,209.0,2006,10000.0,6.1,no
12,Quantum of Solace,403,106.0,395.0,393,451,168.368427,330784.0,2023.0,1.0,1243,200.0,2008,412.0,6.7,no
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423.032628,522040.0,48486.0,2.0,1832,225.0,2006,5000.0,7.3,yes

In [21]:
df.isnull().any()

movie_title                  False
num_critic_for_reviews       False
duration                     False
DIRECTOR_facebook_likes      False
actor_3_facebook_likes       False
ACTOR_1_facebook_likes       False
gross (in millions           False
num_voted_users               True
Cast_Total_facebook_likes     True
facenumber_in_poster          True
num_user_for_reviews         False
budget (in millions)         False
title_year                   False
ACTOR_2_facebook_likes        True
imdb_score                   False
hit                          False
dtype: bool

In [22]:
df.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     0
DIRECTOR_facebook_likes      0
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross (in millions           0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget (in millions)         0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
hit                          0
dtype: int64

In [23]:
df['ACTOR_2_facebook_likes'] = df['ACTOR_2_facebook_likes'].fillna(0)

In [24]:
# List of columns to sum
columns_to_sum = ['DIRECTOR_facebook_likes', 'actor_3_facebook_likes', 'ACTOR_1_facebook_likes', 'ACTOR_2_facebook_likes']

# Calculate the sum of rows from the specified columns and assign to a new column 'Total_likes'
df['Total_likes'] = df[columns_to_sum].sum(axis=1)

# Display the modified DataFrame
print(df)

                                   movie_title  num_critic_for_reviews  \
0                                       Avatar                     723
1     Pirates of the Caribbean: At World's End                     302
2                                      Spectre                     602
3                        The Dark Knight Rises                     813
4                                  John Carter                     462
5                                 Spider-Man 3                     392
6                                      Tangled                     324
7                      Avengers: Age of Ultron                     635
9       Harry Potter and the Half-Blood Prince                     375
10          Batman v Superman: Dawn of Justice                     673
11                            Superman Returns                     434
12                           Quantum of Solace                     403
13  Pirates of the Caribbean: Dead Man's Chest                     313

    duration  DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0      178.0                     10.0                     855
1      151.7                    563.0                    1000
2      148.0                     20.0                     161
3      151.7                  22000.0                   23000
4      132.0                    475.0                     530
5      156.0                     23.0                    4000
6      151.7                     15.0                     284
7      141.0                     10.0                   19000
9      153.0                    282.0                   10000
10     183.0                      0.0                    2000
11     169.0                      0.0                     903
12     106.0                    395.0                     393
13     151.0                    563.0                    1000

    ACTOR_1_facebook_likes  gross (in millions  num_voted_users  \
0                     1000          760.505847         886204.0
1                    40000          309.404152         471220.0
2                    11000          200.074175         275868.0
3                    27000          448.130642        1144337.0
4                      640           73.058679         212204.0
5                    24000          336.530303         383056.0
6                      799          200.807262         294810.0
7                    26000          458.991599         462669.0
9                    25000          301.956980         321795.0
10                   15000          330.249062              NaN
11                   18000          200.069408         240396.0
12                     451          168.368427         330784.0
13                   40000          423.032628         522040.0

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                      4834.0                   NaN                  3054
1                     48350.0                   NaN                  1238
2                     11700.0                   1.0                   994
3                    106759.0                   NaN                  2701
4                      1873.0                   1.0                   738
5                     46055.0                   NaN                  1902
6                         NaN                   1.0                   387
7                     92000.0                   4.0                  1117
9                     58753.0                   3.0                   973
10                    24450.0                   NaN                  3018
11                        NaN                   2.0                  2367
12                     2023.0                   1.0                  1243
13                    48486.0                   2.0                  1832

    budget (in millions)  title_year  ACTOR_2_facebook_likes  imdb_score  hit  \
0                  237.0        2009                   936.0         7.9  yes
1                  300.0        2007                  5000.0         7.1  yes
2                  245.0        2015                   393.0         6.8   no
3                  250.0        2012                 23000.0         8.5  yes
4                  263.7        2012                   632.0         6.6   no
5                  258.0        2007                 11000.0         6.2  yes
6                  260.0        2010                   553.0         7.8   no
7                  250.0        2015                 21000.0         7.5  yes
9                  250.0        2009                 11000.0         7.5  yes
10                 250.0        2016                     0.0         6.9  yes
11                 209.0        2006                 10000.0         6.1   no
12                 200.0        2008                   412.0         6.7   no
13                 225.0        2006                  5000.0         7.3  yes

    Total_likes
0        2801.0
1       46563.0
2       11574.0
3       95000.0
4        2277.0
5       39023.0
6        1651.0
7       66010.0
9       46282.0
10      17000.0
11      28903.0
12       1651.0
13      46563.0

In [25]:
df = df.drop(columns=['Cast_Total_facebook_likes'])

In [26]:
df.isnull().sum()

movie_title                0
num_critic_for_reviews     0
duration                   0
DIRECTOR_facebook_likes    0
actor_3_facebook_likes     0
ACTOR_1_facebook_likes     0
gross (in millions         0
num_voted_users            1
facenumber_in_poster       5
num_user_for_reviews       0
budget (in millions)       0
title_year                 0
ACTOR_2_facebook_likes     0
imdb_score                 0
hit                        0
Total_likes                0
dtype: int64

In [27]:
df['num_voted_users'] = df['num_voted_users'].fillna(df['num_voted_users'].mean())

In [28]:
df['facenumber_in_poster'] = df['facenumber_in_poster'].fillna(0)

In [29]:
df.isnull().sum()

movie_title                0
num_critic_for_reviews     0
duration                   0
DIRECTOR_facebook_likes    0
actor_3_facebook_likes     0
ACTOR_1_facebook_likes     0
gross (in millions         0
num_voted_users            0
facenumber_in_poster       0
num_user_for_reviews       0
budget (in millions)       0
title_year                 0
ACTOR_2_facebook_likes     0
imdb_score                 0
hit                        0
Total_likes                0
dtype: int64

In [30]:
df.columns = df.columns.str.upper()

In [31]:
df

,MOVIE_TITLE,NUM_CRITIC_FOR_REVIEWS,DURATION,DIRECTOR_FACEBOOK_LIKES,ACTOR_3_FACEBOOK_LIKES,ACTOR_1_FACEBOOK_LIKES,GROSS (IN MILLIONS,NUM_VOTED_USERS,FACENUMBER_IN_POSTER,NUM_USER_FOR_REVIEWS,BUDGET (IN MILLIONS),TITLE_YEAR,ACTOR_2_FACEBOOK_LIKES,IMDB_SCORE,HIT,TOTAL_LIKES
0,Avatar,723,178.0,10.0,855,1000,760.505847,886204.00,0.0,3054,237.0,2009,936.0,7.9,yes,2801.0
1,Pirates of the Caribbean: At World's End,302,151.7,563.0,1000,40000,309.404152,471220.00,0.0,1238,300.0,2007,5000.0,7.1,yes,46563.0
2,Spectre,602,148.0,20.0,161,11000,200.074175,275868.00,1.0,994,245.0,2015,393.0,6.8,no,11574.0
3,The Dark Knight Rises,813,151.7,22000.0,23000,27000,448.130642,1144337.00,0.0,2701,250.0,2012,23000.0,8.5,yes,95000.0
4,John Carter,462,132.0,475.0,530,640,73.058679,212204.00,1.0,738,263.7,2012,632.0,6.6,no,2277.0
5,Spider-Man 3,392,156.0,23.0,4000,24000,336.530303,383056.00,0.0,1902,258.0,2007,11000.0,6.2,yes,39023.0
6,Tangled,324,151.7,15.0,284,799,200.807262,294810.00,1.0,387,260.0,2010,553.0,7.8,no,1651.0
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458.991599,462669.00,4.0,1117,250.0,2015,21000.0,7.5,yes,66010.0
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301.956980,321795.00,3.0,973,250.0,2009,11000.0,7.5,yes,46282.0
10,Batman v Superman: Dawn of Justice,673,183.0,0.0,2000,15000,330.249062,462115.25,0.0,3018,250.0,2016,0.0,6.9,yes,17000.0
11,Superman Returns,434,169.0,0.0,903,18000,200.069408,240396.00,2.0,2367,209.0,2006,10000.0,6.1,no,28903.0
12,Quantum of Solace,403,106.0,395.0,393,451,168.368427,330784.00,1.0,1243,200.0,2008,412.0,6.7,no,1651.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423.032628,522040.00,2.0,1832,225.0,2006,5000.0,7.3,yes,46563.0

In [32]:
df.describe()

,NUM_CRITIC_FOR_REVIEWS,DURATION,DIRECTOR_FACEBOOK_LIKES,ACTOR_3_FACEBOOK_LIKES,ACTOR_1_FACEBOOK_LIKES,GROSS (IN MILLIONS,NUM_VOTED_USERS,FACENUMBER_IN_POSTER,NUM_USER_FOR_REVIEWS,BUDGET (IN MILLIONS),TITLE_YEAR,ACTOR_2_FACEBOOK_LIKES,IMDB_SCORE,TOTAL_LIKES
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,1.300000e+01,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,496.230769,151.700000,1873.538462,4855.846154,17606.923077,323.936859,4.621152e+05,1.153846,1658.769231,245.976923,2010.153846,6840.461538,7.146154,31176.769231
std,171.687290,19.570599,6051.615234,7678.748898,14283.448402,175.108654,2.687059e+05,1.281025,889.382665,25.234373,3.531906,7935.209718,0.693560,28902.572971
min,302.000000,106.000000,0.000000,161.000000,451.000000,73.058679,2.122040e+05,0.000000,387.000000,200.000000,2006.000000,0.000000,6.100000,1651.000000
25%,375.000000,148.000000,10.000000,530.000000,1000.000000,200.074175,2.948100e+05,0.000000,994.000000,237.000000,2007.000000,553.000000,6.700000,2801.000000
50%,434.000000,151.700000,23.000000,1000.000000,18000.000000,309.404152,3.830560e+05,1.000000,1243.000000,250.000000,2009.000000,5000.000000,7.100000,28903.000000
75%,635.000000,156.000000,475.000000,4000.000000,26000.000000,423.032628,4.712200e+05,2.000000,2367.000000,258.000000,2012.000000,11000.000000,7.500000,46563.000000
max,813.000000,183.000000,22000.000000,23000.000000,40000.000000,760.505847,1.144337e+06,4.000000,3054.000000,300.000000,2016.000000,23000.000000,8.500000,95000.000000

In [33]:
# Save the DataFrame as a CSV file
df.to_csv('clean_data.csv', index=False)